<div class="bg-image"></div>

<div class="wrapper">
  <form class="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p class="title">Register</p>

    <div>Name:</div>
    <input type="text" formControlName="name" placeholder="Name" autofocus/>

    <div>Phone number:</div>
    <input type="text" formControlName="phoneNumber" placeholder="Phone number" autofocus/>

    <div>Username:</div>
    <input type="text" formControlName="username" placeholder="Username" autofocus/>
    <i class="fa fa-user"></i>

    <div>Password:</div>
    <input type="password" formControlName="password" placeholder="Password" />
    <i class="fa fa-key"></i>

    <!-- <a href="#">Forgot your password?</a> -->

    <!-- <button>
      <i class="spinner"></i>
      <span class="state">Register</span>
    </button> -->

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
      </button>
  </div>

    <a routerLink="/login-form">Back to login</a>
  </form>
</div>
