<div class="bg-image"></div>

<div class="wrapper">
  <form class="register">
    <p class="title">Register</p>
    <div>First name:</div>
    <input type="text" placeholder="First Name" autofocus/>
    <div>Last name:</div>
    <input type="text" placeholder="Last Name" autofocus/>
    <div>Email:</div>
    <input type="text" placeholder="Email" autofocus/>
    <div>Username:</div>
    <input type="text" placeholder="Username" autofocus/>
    <i class="fa fa-user"></i>
    <div>Password:</div>
    <input type="password" placeholder="Password" />
    <i class="fa fa-key"></i>
    <!-- <a href="#">Forgot your password?</a> -->
    <button>
      <i class="spinner"></i>
      <span class="state">Register</span>
    </button>
  </form>
</div>
