<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CDECEA;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="home">
      <img
        src="assets/logo.png"
        height="60"
        alt=""
      />
    </a>
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/how-it-works">How it works</a>
        </li>
        <li mdbDropdown class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            Browse products
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="/browse-products">All products</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/browse-paintings">See only paintings</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/browse-sculptures">See only sculptures</a>
            </li>

          </ul>
        </li>
      </ul>
      <!-- Left links -->
      <ul class="navbar-nav ms-auto">
        <!-- Avatar -->
        <li mdbDropdown class="nav-item dropdown dropstart">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            id="navbarDropdownMenuLink"
            role="button"
            mdbDropdownToggle
            aria-expanded="false"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img (10).webp"
              class="rounded-circle"
              height="22"
              alt=""
              loading="lazy"
            />
          </a>
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" *ngIf="!currentUser" routerLink="/login-form">Login</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" (click)="openVerticallyCentered(content)">Create a new auction</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" routerLink="/my-auctions">My Auctions</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" routerLink="/watchlist">Watchlist</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" routerLink="/won-auctions">Won Auctions</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" routerLink="/account-settings">Account settings</a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="currentUser" (click)="logoutCurrentUser()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Avatar -->
    </div>
  </div>
</nav>

<!-- Add new auction modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Create new auction</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="auctionForm">

      <label class="form-label" for="title">Title: </label>
      <input class="form-input" id="title" type="text" formControlName="title">

      <label class="form-label" for="category">Category: </label>
      <select class="form-select" id="category" formControlName="category">
        <option value="painting">Painting</option>
        <option value="sculpture">Sculpture</option>
      </select>

      <label class="form-label" for="description">Description: </label>
      <input class="form-input" id="description" type="text" formControlName="description">

      <label class="form-label" for="startingPrice">Starting price: </label>
      <input class="form-input" id="startingPrice" type="number" formControlName="startingPrice">

      <label class="form-label" for="endDate">End date: </label>
      <input class="form-input" id="endDate" type="date" formControlName="endDate">

      <label class="form-label" for="endTime">End time: </label>
      <input class="form-input" id="endTime" type="time" formControlName="endTime">

      <label class="form-label" for="image">Image: </label>
      <input class="form-input" id="image" type="file" formControlName="image" (change)="handleFileSelect($event)">
    </form>
	</div>
	<div class="modal-footer">
    <button [disabled]="loading" type="button" class="btn btn-light" (click)="addAuction()"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Add new auction</button>
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
