<div class="background">

<div class="container pb-5"  *ngIf="auctionItem">
  <div class="row">
      <div class="col-lg-5 mt-5">
          <div class="mb-3">
              <img class="card-img img-fluid" src="{{'data:image/jpg;base64,' + auctionItem.images[0].image}}" alt="Card image cap" id="product-detail">
          </div>
      </div>
      <div class="col-lg-7 mt-5">
          <div class="card">
              <div class="card-body">
                  <h1 class="h2">{{auctionItem.title}}</h1>

                  <h2>Author: {{auctionItem.user.name}}</h2>
                  <p></p>

                  <h2>Description:</h2>
                  <p>{{auctionItem.description}}</p>

                  <br>
                  <p class="h2 py-2">Starting price: ${{auctionItem.startingPrice}}</p>
                  <p class="h2 py-2">Current price: ${{auctionItem.currentPrice}}</p>

                  <p class="h2 py-2">End time: {{auctionItem.endTime}}</p>

                  <div class="row pb-3 footer">
                    <div class="col d-grid">
                        <input *ngIf="!(auctionItem.user.email === currentUser.email)" type="number" class="form-control" [formControl]="bidFormControl" id="bid" placeholder="Bid amount">
                    </div>
                    <div class="col d-grid">
                        <button [disabled]="loading" *ngIf="!(auctionItem.user.email === currentUser.email)" type="submit" class="btn btn-lg" name="submit" value="buy" (click)="bid()">Bid
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        </button>
                    </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</div>
</div>
