<div class="background">

<div class="container pb-5">
  <div class="row">
      <div class="col-lg-5 mt-5">
          <div class="card mb-3">
              <img class="card-img img-fluid" src="assets/auctions/pictura1.jpg" alt="Card image cap" id="product-detail">
          </div>
      </div>
      <div class="col-lg-7 mt-5">
          <div class="card">
              <div class="card-body">
                  <h1 class="h2">Title</h1>

                  <h2>Author:</h2>
                  <p>Michelangelo</p>

                  <h2>Description:</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet interdum quis nulla.</p>

                  <br>
                  <p class="h2 py-2">Starting price: $25.00</p>
                  <p class="h2 py-2">Current price: $55.00</p>

                  <p class="h2 py-2">End time: </p>

                  <div class="row pb-3 footer">
                    <div class="col d-grid">
                        <input type="number" class="form-control" id="bid" placeholder="Bid amount">
                    </div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-lg" name="submit" value="buy">Bid</button>
                    </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</div>
</div>
