<h1>ONLY SCULPTURES:</h1>

<div *ngFor="let product of auctionItems">
  <div class="card" *ngIf="product.category ==='sculpture'">
    <img src="{{'data:image/jpg;base64,' + product.images[0].image}}">
    <h1>{{product.title}}</h1>
    <p class="price">Starting at ${{product.startingPrice}}</p>
    <p>Category: {{product.category}}</p>
    <p>Description: {{product.description}}</p>
    <p>End Time: {{product.endTime}}</p>
    <p><button (click)="viewListing(product.id)">View Listing</button></p>
  </div>
  </div>
