<div class="">
  <div class="row">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
          <div class="my-4">
              <form>
                  <div class="row mt-5 align-items-center">
                      <div class="col-md-3 text-center mb-5">
                          <div class="avatar avatar-xl">
                              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (10).webp" alt="..." class="avatar-img rounded-circle" />
                          </div>
                      </div>
                      <div class="col">
                          <div class="row align-items-center">
                              <div class="col-md-7">
                                  <h4 class="mb-1">Ashley Bigs</h4>
                              </div>
                          </div>
                          <div class="row mb-4">
                              <div class="col-md-7">
                                  <p class="text-muted">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit nisl ullamcorper, rutrum metus in, congue lectus. In hac habitasse platea dictumst. Cras urna quam, malesuada vitae risus at,
                                      pretium blandit sapien.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <hr class="my-4" />
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label class="form-label" for="lastname">Name</label>
                          <input type="text" id="lastname" class="form-control" placeholder="Ashley" />
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="ashley@gmail.me" />
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="inputAddress5">Phone number</label>
                      <input type="text" class="form-control" id="phoneNumber" placeholder="+40123456789" />
                  </div>
                  <hr class="my-4" />
                  <div class="row mb-4">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="form-label" for="inputPassword4">Old Password</label>
                              <input type="password" class="form-control" id="inputPassword" />
                          </div>
                          <div class="form-group">
                              <label class="form-label" for="inputPassword5">New Password</label>
                              <input type="password" class="form-control" id="inputPassword5" />
                          </div>
                          <div class="form-group">
                              <label class="form-label" for="inputPassword6">Confirm Password</label>
                              <input type="password" class="form-control" id="inputPassword6" />
                          </div>
                      </div>
                      <div class="col-md-6">
                          <p class="mb-2">Password requirements</p>
                          <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                          <ul class="small text-muted pl-4 mb-0">
                              <li>Minimum 8 character</li>
                              <li>At least one special character</li>
                              <li>At least one number</li>
                              <li>Can’t be the same as a previous password</li>
                          </ul>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-success">Save Change</button>
              </form>
          </div>
      </div>
  </div>

  </div>
