<div class="card" *ngFor="let product of auctionItems">
  <img src="assets/auctions/pictura1.jpg" alt="Mona Lisa" style="width:100%; margin-top: 5px;">
  <h1>{{product.title}}</h1>
  <p class="price">Starting at ${{product.startingPrice}}</p>
  <p>Category: {{product.category}}</p>
  <p>Description: {{product.description}}</p>
  <p>End Time: {{product.endTime}}</p>
  <p><button (click)="viewListing(product.id)">View Listing</button></p>
</div>

<!-- <div class="card">
  <img src="assets/auctions/pictura2.jpg" alt="The Moon" style="width:100%; margin-top: 5px;">
  <h1>The moon</h1>
  <p class="price">Starting at $99.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura3.jpg" alt="Workers" style="width:100%; margin-top: 5px;">
  <h1>Workers</h1>
  <p class="price">Starting at $9.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura1.jpg" alt="Mona Lisa" style="width:100%; margin-top: 5px;">
  <h1>Mona Lisa</h1>
  <p class="price">Starting at $9999.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura2.jpg" alt="The Moon" style="width:100%; margin-top: 5px;">
  <h1>The moon</h1>
  <p class="price">Starting at $99.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura3.jpg" alt="Workers" style="width:100%; margin-top: 5px;">
  <h1>Workers</h1>
  <p class="price">Starting at $9.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura1.jpg" alt="Mona Lisa" style="width:100%; margin-top: 5px;">
  <h1>Mona Lisa</h1>
  <p class="price">Starting at $9999.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura2.jpg" alt="The Moon" style="width:100%; margin-top: 5px;">
  <h1>The moon</h1>
  <p class="price">Starting at $99.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura3.jpg" alt="Workers" style="width:100%; margin-top: 5px;">
  <h1>Workers</h1>
  <p class="price">Starting at $9.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura1.jpg" alt="Mona Lisa" style="width:100%; margin-top: 5px;">
  <h1>Mona Lisa</h1>
  <p class="price">Starting at $9999.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura2.jpg" alt="The Moon" style="width:100%; margin-top: 5px;">
  <h1>The moon</h1>
  <p class="price">Starting at $99.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>

<div class="card">
  <img src="assets/auctions/pictura3.jpg" alt="Workers" style="width:100%; margin-top: 5px;">
  <h1>Workers</h1>
  <p class="price">Starting at $9.99</p>
  <p>Some text about the art..</p>
  <p>Time remaining: ...</p>
  <p><button>View Listing</button></p>
</div>
 -->
