<h1>WON AUCTIONS:</h1>

<div *ngFor="let product of auctionItems">
  <div class="card" *ngIf="product.user.email === currentUser.email">
    <img src="{{'data:image/jpg;base64,' + product.images[0].image}}">
    <h2>{{product.title}}</h2>
    <p class="price">Starting at ${{product.startingPrice}}</p>
    <p>Category: {{product.category}}</p>
    <p>Description: {{product.description}}</p>
    <p>End Time: {{product.endTime}}</p>
    <p><button (click)="viewListing(product.id)">View Listing</button></p>
  </div>
  </div>
